
.img-rounded-small-post-custom-brewok{

    width: 7%;
    border-radius: 100%;

}

.padding-left-name-custom-brewok{

    padding-left: 5px;

}

.custom-select-lang-brewok{

    text-transform: uppercase;

}

.warna-hitam-tulisan-brewok{

    color:#333333;

}

/* ========= CUSTOM BREWOK PROFILE CIRCLE IMAGE ================= */

.profile-header-container-brewok{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 24px;
}

.profile-header-img-brewok > img.img-circle-brewok {
    width: 50%;
    height: 50%;
    border: 2px solid #51D2B7;
    border-radius: 270px;
    z-index: 20;
}

.profile-header-brewok {
    margin-top: 43px;
}

/**
 * Ranking component
 */
.rank-label-container-brewok {
    margin-top: -19px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.rank-label {
    background-color: #FEAB03;
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
    color: white;
    font-size: 0.8rem;
    font-weight: bold;
}

.padding-custom-card-profile-account{

    padding: 10%;

}

.padding-top-custom-brewok-profile-page{

    padding-top: 3%;
    padding-bottom: 6%;

}

/* FOR COMMENT BOX */

/* CSS Test begin */
.comment-box {
    margin-top: 30px !important;
}
/* CSS Test end */

.comment-box img {
    width: 50px;
    height: 50px;
}
.comment-box .media-left {
    padding-right: 10px;
    width: 65px;
}
.comment-box .media-body p {
    border: 1px solid #ddd;
    padding: 10px;
}
.comment-box .media-body .media p {
    margin-bottom: 0;
}
.comment-box .media-heading {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 7px 10px;
    position: relative;
    margin-bottom: -1px;
}
.comment-box .media-heading:before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-width: 1px 0 0 1px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 10px;
    left: -6px;
}

/* Hide The Input Date Icons */

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}


/* Card Login */

.social-box-brewok .box {
    padding: 40px 10px;
    -webkit-box-shadow: 4px 4px 19px -1px rgba(0,0,0,0.09);
    box-shadow: 4px 4px 19px -1px rgba(0,0,0,0.09);
    border-radius: 10px;
    margin-top:2%;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.social-box-brewok .box-text {
    font-size: 150px;
    line-height: 30px;
    margin: 20px 0;
    color: #FEAC04;
}

.social-box-brewok .box-btn a {
    color: #222222;
    font-size: 22px;
    border-radius:10px;
    text-decoration: none;
}
