
.img-rounded-small-post-custom-brewok{

    width: 7%;
    border-radius: 100%;

}

.padding-left-name-custom-brewok{

    padding-left: 5px;

}

.custom-select-lang-brewok{

    text-transform: uppercase;

}
